.focus {
	/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: PAGE HEADER */
	.header {
		h1 {
			margin-bottom: 20px;
		}
		.bottomtext {
			border-top: 1px solid $orange;
			border-bottom: 1px solid $orange;
		}
		.toptext {
			margin-bottom: 8px;
		}
	}
	.section_wrapper {
		.twocol {
			margin-bottom: 50px;
		}	
	}
}
@media screen and (min-width:1050px) {
	.focus {
		.header {
			min-height: 575px;
		}
	}
}