
@media screen and (min-width:550px) {
	.heritage {
		.section_texttestimonial_right {
			.testimonial_image {
				right: auto;
				left: 37px;
			}	
		}
	}
}
@media screen and (min-width:950px) {
	.heritage {
		.section_texttestimonial_right {
			.testimonial_image {
				right: -45px;
				left: auto;
			}	
		}
	}
}
@media screen and (min-width:1250px) {
	.heritage {
		.section_texttestimonial_right {
			.testimonial_image {
				right: -30px;
				left: auto;
			}	
		}
	}
}