.home {
	.navigation_wrapper {
		opacity: 0;
		animation: fadein 1s;
		animation-delay: 1.5s;
		animation-fill-mode: forwards;
	}
	.header_wrapper {
		background: url(../images/homebg.jpg) no-repeat center center;
		background-size: cover;
	}
	/* :::::::::::::::::::::::::::::: PAGE HEADER */
	.header {
		height: 100vh;
		min-height: 470px;
		opacity: 0;
		animation: fadein 1s;
		animation-delay: .5s;
		animation-fill-mode: forwards;
		h1 {
			font-size: 12vw;
			letter-spacing: 2px;
		}
		h2 {
			font-size: 8vw;
			line-height: 1.1;
			max-width: 69vw;
			text-transform: none;
			margin-bottom: 0;
		}
	}
	.section_intro {
		padding: 60px 20px 0;
	}
}
/* :::::::::::::::::::::::::::::::::: FOCUS POINT SECTIONS */
.focuspoint_count {
	font-size: 6rem;
}
.focuspoint_one, .focuspoint_two, .focuspoint_three, .focuspoint_four, .focuspoint_five {
	h2 {
		margin-left: 70px;
		font-size: 10vw;
		padding: 9px 0;
	}
}
.focuspoint_one {
	background: url(../images/homebackground_focus1.jpg) no-repeat top center;
	background-size: cover;
	.section {
		padding: 20px 0 30px 0;
	}
	&.testimonialisnext {
		padding-bottom: 250px;
	}
	.focuspoint_count {
		top: 7px;
		left: 0;
	}
}
.focuspoint_two {
	background: url(../images/homebackground_focus2.jpg) no-repeat center bottom;
	background-size: 200%;
	padding-bottom: 20px;
	.section {
		padding: 40px 0;
		max-width: 1260px;
		overflow: hidden;
	}
	.section_image {
		margin: 0 0 20px 0;
		position: relative;
		z-index: 9;
		text-align: center;
	}
	.section_content {
		padding: 0;
		position: relative;
	}
	.focuspoint_count {
		top: -25px;
		left: 0;
	}
	img {
		max-width: 100%;
	}
}
.section_twopoints {
	background: url(../images/homebackground_focustwopoints.jpg) no-repeat top left;
	img {
		width: 100%;
	}
}
.focuspoint_three {
	padding-bottom: 30px;
	.number {
		font-size: 15.5vw;
	}
	.section_content {
		position: relative;
	}
	.section_image {
		padding: 0;
		img {
			width: 106%;
			margin: 0 -3%;
		}
	}
	.focuspoint_count {
		top: -30px;
		left: 0;
	}
	h2 {
		max-width: 59vw;
		margin-left: 90px;
	}
}
.focuspoint_four {
	clear: both;
	.section_content {
		clear: left;
		position: relative;
		padding: 0 0 35px;
	}
	.section_image {
		padding: 0;
	}
	.focuspoint_count {
		top: -30px;
		left: 0;
	}
	h2 {
		margin-left: 90px;
	}
}
.focuspoint_five {
	background: url(../images/homebackground_focus5.jpg) no-repeat top center;
	background-size: cover;
	padding: 0 30px 130px;
	.pagecta {
		margin-bottom: 120px;
	}
	.focuspoint_count {
		top: -30px;
		left: 0;
	}
	h2 {
		margin-left: 80px;
	}
}
.section_getstarted {
	text-align: center;
	.popout_image {
		margin: -120px auto 50px;
		max-width: 900px;
		img {
			width: 100%;
		}
	}
}
.home .section_pagecta {
	background: url(../images/home_ctabg.jpg) no-repeat top center;
	background-size: cover;
}
/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
/* :::::::::::::::::::::::::::::::::::::::::::::::::::: MEDIA QUERIES */
/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
@media screen and (max-width:600px) and (max-height:650px) {
	.home .header {
		padding-top: 100px;
	}
}
@media screen and (min-width:500px) {
	/* :::::::::::::::::::::::::::::: PAGE HEADER */
	.focuspoint_count {
		font-size: 7rem;
	}
	.home .header {
		h2 {
			max-width: 100%;
			font-size: 5vw;
		}
	}
	.focuspoint_one {
		.section {
			padding: 20px 0 30px 80px;
		}
		.focuspoint_count {
			top: 4px;
			left: 0;
		}
		h2 {
			margin-left: 0;
		}
	}
	.focuspoint_three {
		h2 {
			margin-left: 130px;
		}
	}
}
@media screen and (min-width:750px) {
	/* :::::::::::::::::::::::::::::: PAGE HEADER */
	.home .header {
		h2 {
			font-size: 2.3rem;
		}
	}
	.focuspoint_one, .focuspoint_two, .focuspoint_three, .focuspoint_four, .focuspoint_five {
		h2 {
			font-size: 3.5rem;
			margin-left: 0px;
		}
	}
	.section_intro {
		padding: 100px 30px 70px;
	}
	.focuspoint_one {
		.section {
			padding: 20px 0 30px 130px;
		}
		.focuspoint_count {
			top: -1px;
			left: 30px;
		}
		h2 {
			margin-left: 0;
		}
	}
	.focuspoint_two {
		background-size: cover;
		.section {
			padding: 40px 0;
		}
		.section_image {
			float: left;
			width: 40%;
		}
		.section_content {
			float: right;
			width: 60%;
			padding: 0;
		}
		.focuspoint_count {
			top: -15px;
		}
	}
	.focuspoint_three {
		h2 {
			margin-left: 110px;
			max-width: 42vw;
		}
	}
	.focuspoint_four {
		h2 {
			margin-left: 110px;
		}
	}
	.focuspoint_five {
		padding: 0 30px 270px;
		.section_content {
			padding-left: 80px;
		}
		.focuspoint_count {
			top: -47px;
			left: -20px;
		}
		h2 {
			margin-left: 0;
		}
	}
	.section_getstarted .popout_image {
		margin: -260px auto 100px;
	}
}
@media screen and (min-width: 850px) {
	.focuspoint_one, .focuspoint_two, .focuspoint_three, .focuspoint_four, .focuspoint_five {
		h2 {
			font-size: 4rem;
		}
	}
	.focuspoint_three {
		@include flexbox();
		flex-direction: row-reverse;
		padding-top: 100px;
		.number {
			font-size: 15.5vw;
		}
		.section_content {
			@include flex(.95);
		}
		.section_image {
			padding: 150px 20px 0 0;
			@include flex(1);
			img {
				width: 100%;
				margin: 0;
			}
		}
		.focuspoint_count {
			top: -50px;
			left: -100px;
		}
		h2 {
			margin-left: 0;
			max-width: 351px;
		}
	}
	.focuspoint_four {
		@include flexbox();
		.section_content {
			clear: left;
			@include flex(1);
			padding: 30px 20px 0 116px;
		}
		.section_image {
			@include flex(1.5);
		}
		.focuspoint_count {
			top: 0;
			left: 10px;
		}
		h2 {
			margin-left: 0;
		}
	}
}
@media screen and (min-width:950px) {
	.focuspoint_one, .focuspoint_two, .focuspoint_three, .focuspoint_four, .focuspoint_five {
		h2 {
			font-size: 4rem;
		}
	}
	.focuspoint_count {
		font-size: 10rem;
	}
	/* :::::::::::::::::::::::::::::: PAGE HEADER */
	.home .header {
		h1 {
			font-size: 9.4rem;
			letter-spacing: 4px;
		}
		h2 {
			font-size: 2.8rem;
		}
	}
	.focuspoint_one {
		.section {
			padding: 140px 0 30px 140px;
		}
		.focuspoint_count {
			top: 99px;
			left: -5px;
		}
	}
	.focuspoint_two {
		.section_content {
			padding: 70px 0 0 0;
		}
		.focuspoint_count {
			top: 25px;
		}
	}
	.focuspoint_three {
		padding-bottom: 0;
		h2 {
			max-width: 360px;
		}
	}
	.focuspoint_four {
		.section_image {
			margin-top: -50px;
		}
	}
}
@media screen and (min-width:1150px) {
	.focuspoint_one, .focuspoint_two, .focuspoint_three, .focuspoint_four, .focuspoint_five {
		h2 {
			font-size: 5rem;
		}
	}
	.focuspoint_two {
		.focuspoint_count {
			top: 75px;	
		}
		.section_content {
			padding: 110px 0 0 0;
			width: 50%;
		}	
		.section_image {
			width: 50%;
		}
	}
	.focuspoint_three {
		h2 {
			max-width: 460px;
		}
	}
	.focuspoint_four {
		.section_image {
			margin-top: -120px;
		}
	}
}
@media screen and (min-width:1250px) {
	.focuspoint_two {
		.focuspoint_count {
			top: 40px;
			left: -130px;
		}
	}
	.focuspoint_three {
		.section_image {
			padding: 150px 30px 0 115px;
		}
	}
	.focuspoint_four .focuspoint_count {
		top: -20px;
		left: -80px;
	}
}