.technology {
	.drones {
		background: url(../images/dronebg.jpg) no-repeat center top;
		background-size: 100%;
	}
	.drones2 {
		background: $orange url(../images/drone_orange.jpg) no-repeat center center;
		background-size: 100%;
	}
}