/* Base styles */
/* line 1, ../sass/partials/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 22, ../sass/partials/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 26, ../sass/partials/_reset.scss */
body {
  line-height: 1;
}

/* line 29, ../sass/partials/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 32, ../sass/partials/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 35, ../sass/partials/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 40, ../sass/partials/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ::::::::::::::::::::::::::::::::::::: Colors */
/* ::::::::::::::::::::::::::::::::::::: Fonts */
@keyframes downarrow {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 0;
  }
  50% {
    -webkit-transform: translate(0, 8px);
    transform: translate(0, 8px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 0;
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Vendor styles */
/* Global styles */
/* line 1, ../sass/partials/_global.scss */
* {
  box-sizing: border-box;
}

/* line 4, ../sass/partials/_global.scss */
body {
  font-family: "Nunito", avenir, arial, sans-serif;
  font-size: 1rem;
  color: #231f20;
}

/* line 9, ../sass/partials/_global.scss */
::-moz-selection {
  background: #fd8309;
  color: #f9f9f9;
}

/* line 13, ../sass/partials/_global.scss */
::selection {
  background: #fd8309;
  color: #f9f9f9;
}

/* :::::::::::::::::::::::::::::: TEXT FORMATTING */
/* line 18, ../sass/partials/_global.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Cormorant Garamond", TimesNewRoman, "Times New Roman", Times, Georgia, serif;
  text-transform: uppercase;
}

/* line 22, ../sass/partials/_global.scss */
h2, h3, h4, h5, h6 {
  margin-bottom: 25px;
}

/* line 25, ../sass/partials/_global.scss */
h2, h3 {
  color: #fd8309;
}

/* line 28, ../sass/partials/_global.scss */
h1 {
  font-weight: 500;
  font-size: 8.5rem;
}

/* line 32, ../sass/partials/_global.scss */
h2 {
  font-size: 5.3rem;
  border-top: 1px solid #231f20;
  border-bottom: 1px solid #231f20;
  display: inline-block;
  padding: 9px 0;
  line-height: .8;
  font-style: italic;
}
/* line 40, ../sass/partials/_global.scss */
h2 span {
  text-transform: none;
}

/* line 44, ../sass/partials/_global.scss */
h3 {
  font-size: 2.7rem;
  font-weight: 500;
}

/* line 48, ../sass/partials/_global.scss */
p {
  font-size: 1.05rem;
  line-height: 1.8;
  font-weight: 100;
  margin-bottom: 20px;
}

/* line 54, ../sass/partials/_global.scss */
a.button {
  text-transform: uppercase;
  color: #fd8309;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 3px;
  position: relative;
  padding: 0 10px 0 35px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
/* line 63, ../sass/partials/_global.scss */
a.button:before {
  content: '';
  width: 28px;
  height: 18px;
  margin-right: 10px;
  margin-top: -3px;
  display: block;
  position: absolute;
  left: 0;
  background: url(../images/arrow.svg) no-repeat bottom left;
  background-size: contain;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
/* line 76, ../sass/partials/_global.scss */
a.button span {
  padding: 0 0 5px;
  display: inline-block;
  border-bottom: 2px solid #231f20;
}
/* line 81, ../sass/partials/_global.scss */
a.button:hover {
  color: #231f20;
}
/* line 83, ../sass/partials/_global.scss */
a.button:hover:before {
  left: 100%;
}

/* line 88, ../sass/partials/_global.scss */
a.button_alt {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 2px;
  position: relative;
  padding: 17px;
  color: #231f20;
  border: 1px solid #231f20;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
/* line 98, ../sass/partials/_global.scss */
a.button_alt:hover {
  background: #231f20;
  color: #f9f9f9;
}

/* line 103, ../sass/partials/_global.scss */
.focuspoint_count {
  font-size: 12rem;
  font-family: "Libre Baskerville", Georgia, Times, "Times New Roman", serif;
  color: rgba(35, 31, 32, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: -5px;
}

/* :::::::::::::::::::::::::::::: MAIN NAV */
/* line 113, ../sass/partials/_global.scss */
.navigation_wrapper {
  padding: 50px 30px 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}

/* line 121, ../sass/partials/_global.scss */
.navigation {
  max-width: 1300px;
  margin: 0 auto;
}
/* line 124, ../sass/partials/_global.scss */
.navigation nav {
  float: right;
  padding-top: 30px;
}
/* line 128, ../sass/partials/_global.scss */
.navigation a {
  color: #f9f9f9;
  text-transform: uppercase;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 3px;
  padding: 15px 20px;
  font-size: .9rem;
  margin-left: 18px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
/* line 138, ../sass/partials/_global.scss */
.navigation a .st0 {
  stroke: #f9f9f9;
}
/* line 141, ../sass/partials/_global.scss */
.navigation a:hover {
  background: #f9f9f9;
  color: #231f20;
}
/* line 144, ../sass/partials/_global.scss */
.navigation a:hover .st0 {
  stroke: black;
}
/* line 149, ../sass/partials/_global.scss */
.navigation .logo {
  width: 155px;
  height: 115px;
  display: block;
  float: left;
  padding: 0;
}
/* line 155, ../sass/partials/_global.scss */
.navigation .logo img {
  width: 100%;
}
/* line 158, ../sass/partials/_global.scss */
.navigation .logo:hover {
  background: none;
}
/* line 162, ../sass/partials/_global.scss */
.navigation .programdetails {
  margin-left: 0;
}
/* line 165, ../sass/partials/_global.scss */
.navigation .button {
  border: 1px solid #f9f9f9;
}
/* line 167, ../sass/partials/_global.scss */
.navigation .button:before {
  display: none;
}

/* line 173, ../sass/partials/_global.scss */
.dropdownarrow {
  width: 13px;
  height: 6px;
  display: inline-block;
}

/* :::::::::::::::::::::::::::::: PAGE HEADER */
/* line 180, ../sass/partials/_global.scss */
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
/* line 185, ../sass/partials/_global.scss */
.header h1, .header h2 {
  color: #f9f9f9;
  font-family: "Cormorant Garamond", TimesNewRoman, "Times New Roman", Times, Georgia, serif;
  font-style: italic;
}
/* line 190, ../sass/partials/_global.scss */
.header h1 {
  text-transform: uppercase;
  font-size: 8.2rem;
  letter-spacing: 4px;
}
/* line 195, ../sass/partials/_global.scss */
.header h2 {
  font-size: 2.4rem;
  font-weight: 200;
  border-top: 0;
  border-bottom: 0;
}

/* line 202, ../sass/partials/_global.scss */
.scroll {
  margin: 15px auto 0;
  display: block;
  width: 18px;
}

/* line 207, ../sass/partials/_global.scss */
.scroll_arrow {
  display: block;
  height: 10px;
  animation: downarrow 3s infinite;
  animation-delay: .1s;
}

/* :::::::::::::::::::::::::::::: FOOTER */
/* line 214, ../sass/partials/_global.scss */
.footer {
  max-width: 1260px;
  margin: 0 auto 30px;
  padding: 30px 20px 0;
}
/* line 218, ../sass/partials/_global.scss */
.footer:after {
  content: '';
  display: block;
  width: 1px;
  clear: both;
}
/* line 224, ../sass/partials/_global.scss */
.footer nav {
  float: right;
  margin-bottom: 35px;
}
/* line 227, ../sass/partials/_global.scss */
.footer nav a {
  color: #231f20;
  text-transform: uppercase;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 3px;
  padding: 15px 20px;
  font-size: .9rem;
  margin-left: 18px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
/* line 237, ../sass/partials/_global.scss */
.footer nav a .st0 {
  stroke: #231f20;
}
/* line 240, ../sass/partials/_global.scss */
.footer nav a .dropdownarrow {
  transform: rotate(180deg);
  height: 15px;
}
/* line 244, ../sass/partials/_global.scss */
.footer nav a:hover {
  background: #231f20;
  color: #f9f9f9;
}
/* line 247, ../sass/partials/_global.scss */
.footer nav a:hover .st0 {
  stroke: #f9f9f9;
}
/* line 252, ../sass/partials/_global.scss */
.footer nav .button {
  border: 1px solid #231f20;
}
/* line 254, ../sass/partials/_global.scss */
.footer nav .button:before {
  display: none;
}
/* line 259, ../sass/partials/_global.scss */
.footer .social {
  float: right;
  clear: right;
}
/* line 262, ../sass/partials/_global.scss */
.footer .social a {
  width: 35px;
  height: 35px;
  display: inline-block;
  margin-left: 5px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
/* line 268, ../sass/partials/_global.scss */
.footer .social a:hover {
  transform: scale(1.15);
  fill: #fd8309;
}

/* line 275, ../sass/partials/_global.scss */
.footer_logo {
  width: 127px;
  height: 105px;
  display: block;
  float: left;
}
/* line 280, ../sass/partials/_global.scss */
.footer_logo img {
  width: 100%;
  height: auto;
}

/* line 285, ../sass/partials/_global.scss */
.footer_bottom {
  clear: both;
  max-width: 1260px;
  margin: 0 auto;
  padding-bottom: 20px;
}
/* line 290, ../sass/partials/_global.scss */
.footer_bottom p {
  margin-bottom: 0;
  font-size: .9rem;
  line-height: 1.5;
}
/* line 295, ../sass/partials/_global.scss */
.footer_bottom a {
  text-decoration: none;
  color: #fd8309;
}
/* line 298, ../sass/partials/_global.scss */
.footer_bottom a:hover {
  text-decoration: underline;
}

/* :::::::::::::::::::::::::::::: SECTION */
/* line 305, ../sass/partials/_global.scss */
.section_wrapper {
  padding: 50px 20px;
}
/* line 307, ../sass/partials/_global.scss */
.section_wrapper .section {
  max-width: 900px;
  margin: 0 auto;
  position: relative;
}

/* line 313, ../sass/partials/_global.scss */
.section_intro {
  text-align: center;
}
/* line 315, ../sass/partials/_global.scss */
.section_intro .section {
  max-width: 820px;
}

/* line 320, ../sass/partials/_global.scss */
.section_twopoints .section {
  max-width: 1230px;
}

/* :::::::::::::::::::::::::::::::::: TESTIMONIAL SECTIONS */
/* line 325, ../sass/partials/_global.scss */
.section_imgtestimonial {
  margin-top: -270px;
  position: relative;
}
/* line 328, ../sass/partials/_global.scss */
.section_imgtestimonial img {
  display: block;
}
/* line 331, ../sass/partials/_global.scss */
.section_imgtestimonial .section_testimonial {
  position: absolute;
  bottom: 0;
  right: -42px;
  max-width: 470px;
}
/* line 336, ../sass/partials/_global.scss */
.section_imgtestimonial .section_testimonial p {
  font-size: 1rem;
}
/* line 340, ../sass/partials/_global.scss */
.section_imgtestimonial .testimonial_image {
  top: 50%;
  left: -110px;
  margin-top: -80px;
}

/* line 346, ../sass/partials/_global.scss */
.testimonial_image {
  width: 160px;
  height: 160px;
  position: absolute;
}
/* line 350, ../sass/partials/_global.scss */
.testimonial_image img {
  display: block;
  width: 100%;
}

/* line 355, ../sass/partials/_global.scss */
.testimonial_content {
  background: #f9f9f9;
  -webkit-box-shadow: 2px 2px 18px 6px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 2px 2px 18px 6px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 18px 6px rgba(0, 0, 0, 0.1);
  padding: 30px 30px 30px 65px;
}

/* line 361, ../sass/partials/_global.scss */
.section_testimonial p {
  font-family: "Libre Baskerville", Georgia, Times, "Times New Roman", serif;
  font-style: italic;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.9;
  position: relative;
}
/* line 368, ../sass/partials/_global.scss */
.section_testimonial p:before {
  content: '';
  background: url(../images/icon_quote.png) no-repeat top left;
  width: 46px;
  height: 36px;
  font-family: "Libre Baskerville", Georgia, Times, "Times New Roman", serif;
  display: block;
  font-size: 9rem;
  line-height: 1;
  color: rgba(253, 131, 9, 0.4);
  position: absolute;
  top: -12px;
  left: -28px;
}
/* line 383, ../sass/partials/_global.scss */
.section_testimonial span.author {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
}

/* line 391, ../sass/partials/_global.scss */
.section_texttestimonial_top .section {
  max-width: 900px;
}
/* line 394, ../sass/partials/_global.scss */
.section_texttestimonial_top .section_testimonial {
  margin-top: -230px;
  /*p:before {
  	top: 61px;
  	left: 55px;
  }*/
}
/* line 401, ../sass/partials/_global.scss */
.section_texttestimonial_top .testimonial_content {
  width: 100%;
  padding: 80px 40px 40px 80px;
}
/* line 405, ../sass/partials/_global.scss */
.section_texttestimonial_top .testimonial_image {
  top: -90px;
  left: 35px;
}

/* line 411, ../sass/partials/_global.scss */
.section_texttestimonial_right .section_testimonial {
  margin-top: -150px;
}
/* line 414, ../sass/partials/_global.scss */
.section_texttestimonial_right .testimonial_content {
  padding: 60px 100px 60px 80px;
}
/* line 417, ../sass/partials/_global.scss */
.section_texttestimonial_right .testimonial_image {
  right: -80px;
  top: 50%;
  margin-top: -80px;
}
/* line 422, ../sass/partials/_global.scss */
.section_texttestimonial_right p:before {
  width: 61px;
  height: 46px;
  background-size: contain;
  top: -28px;
  left: -33px;
}

/* :::::::::::::::::::::::::::::::::: STAT SECTIONS */
/* line 431, ../sass/partials/_global.scss */
.stat {
  text-align: center;
}
/* line 433, ../sass/partials/_global.scss */
.stat .number {
  font-size: 13rem;
  font-family: "Libre Baskerville", Georgia, Times, "Times New Roman", serif;
  display: block;
  color: rgba(35, 31, 32, 0.1);
  line-height: .8;
}
/* line 440, ../sass/partials/_global.scss */
.stat .text {
  font-family: "Cormorant Garamond", TimesNewRoman, "Times New Roman", Times, Georgia, serif;
  font-style: italic;
  font-size: 3rem;
  display: block;
  line-height: 1;
  margin-bottom: 10px;
}
/* line 448, ../sass/partials/_global.scss */
.stat .stat_source {
  text-transform: uppercase;
  color: #cccccc;
  font-weight: 400;
  letter-spacing: 3px;
  font-size: 1rem;
}

/* line 456, ../sass/partials/_global.scss */
.stat_one {
  background: url(../images/homebackground_stat1.jpg) no-repeat top center;
  background-size: cover;
  min-height: 500px;
  padding-bottom: 560px;
  padding-top: 30px;
}

/* line 463, ../sass/partials/_global.scss */
.stat_two {
  background: #fd8309 url(../images/homebackground_stat2.jpg) no-repeat bottom center;
  background-size: cover;
  min-height: 500px;
  padding-top: 30px;
}
/* line 468, ../sass/partials/_global.scss */
.stat_two p {
  color: #f9f9f9;
}
/* line 471, ../sass/partials/_global.scss */
.stat_two .number {
  color: rgba(255, 255, 255, 0.3);
  line-height: .9;
}
/* line 475, ../sass/partials/_global.scss */
.stat_two.testimonialisnext {
  padding-bottom: 200px;
}

/* line 479, ../sass/partials/_global.scss */
.stat_three {
  background: #f9f9f9 url(../images/homebackground_stat3.jpg) no-repeat bottom center;
  background-size: 100%;
  min-height: 950px;
}
/* line 483, ../sass/partials/_global.scss */
.stat_three .section {
  max-width: 1200px;
}
/* line 486, ../sass/partials/_global.scss */
.stat_three .number {
  line-height: 1;
}

/* :::::::::::::::::::::::::::::::::: CTA SECTIONS */
/* line 491, ../sass/partials/_global.scss */
.pagecta {
  overflow: hidden;
  margin-bottom: 50px;
  text-align: center;
}
/* line 495, ../sass/partials/_global.scss */
.pagecta p {
  font-family: "Cormorant Garamond", TimesNewRoman, "Times New Roman", Times, Georgia, serif;
  font-style: italic;
  color: #fd8309;
  display: inline-block;
  padding-right: 25px;
  font-size: 2.8rem;
}
/* line 503, ../sass/partials/_global.scss */
.pagecta a {
  display: inline-block;
}

/* :::::::::::::::::::::::::::::::::: COST SECTIONS */
/* line 508, ../sass/partials/_global.scss */
.section_tuition {
  -webkit-box-shadow: 0px -3px 17px 1px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px -3px 17px 1px rgba(0, 0, 0, 0.16);
  box-shadow: 0px -3px 17px 1px rgba(0, 0, 0, 0.16);
  padding: 40px 20px 50px;
}
/* line 511, ../sass/partials/_global.scss */
.section_tuition .section {
  text-align: center;
  position: relative;
}
/* line 515, ../sass/partials/_global.scss */
.section_tuition h3 {
  margin-bottom: 10px;
}
/* line 518, ../sass/partials/_global.scss */
.section_tuition img.badge {
  position: absolute;
  top: -100px;
  left: -40px;
}
/* line 523, ../sass/partials/_global.scss */
.section_tuition p.cost {
  font-family: "Cormorant Garamond", TimesNewRoman, "Times New Roman", Times, Georgia, serif;
  font-style: italic;
  font-size: 2.5rem;
  line-height: 1;
  margin-bottom: 0;
}
/* line 530, ../sass/partials/_global.scss */
.section_tuition .number {
  font-size: 6.25rem;
  color: rgba(35, 31, 32, 0.1);
  font-style: normal;
  font-family: "Libre Baskerville", Georgia, Times, "Times New Roman", serif;
}
/* line 536, ../sass/partials/_global.scss */
.section_tuition .cost_for {
  text-transform: uppercase;
  font-weight: 500;
  font-size: .95rem;
  letter-spacing: 2px;
}
/* line 542, ../sass/partials/_global.scss */
.section_tuition .cost_note {
  font-family: "Cormorant Garamond", TimesNewRoman, "Times New Roman", Times, Georgia, serif;
  font-style: italic;
  margin-bottom: 0;
  line-height: 1.2;
  font-size: 1.1rem;
}

/* :::::::::::::::::::::::::::::::::: END OF PAGE CTA SECTIONS */
/* line 551, ../sass/partials/_global.scss */
.section_pagecta {
  text-align: center;
  padding: 60px 20px;
}
/* line 554, ../sass/partials/_global.scss */
.section_pagecta h4 {
  color: #f9f9f9;
  font-size: 2rem;
  font-style: italic;
}
/* line 558, ../sass/partials/_global.scss */
.section_pagecta h4 .top_head {
  display: block;
  margin-bottom: 6px;
  letter-spacing: 1px;
}
/* line 563, ../sass/partials/_global.scss */
.section_pagecta h4 .main_head {
  display: inline-block;
  clear: both;
  font-size: 4.7rem;
  border-top: 1px solid #fd8309;
  border-bottom: 1px solid #fd8309;
}
/* line 572, ../sass/partials/_global.scss */
.section_pagecta a.button span {
  border-color: #f9f9f9;
}
/* line 575, ../sass/partials/_global.scss */
.section_pagecta a.button:hover {
  color: #f9f9f9;
}

/* Page specific styles */
/* line 1, ../sass/pages/_home.scss */
.home {
  /* :::::::::::::::::::::::::::::: PAGE HEADER */
}
/* line 2, ../sass/pages/_home.scss */
.home .navigation_wrapper {
  opacity: 0;
  animation: fadein 1s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
}
/* line 8, ../sass/pages/_home.scss */
.home .header_wrapper {
  background: url(../images/homebg.jpg) no-repeat center center;
  background-size: cover;
}
/* line 13, ../sass/pages/_home.scss */
.home .header {
  height: 100vh;
  opacity: 0;
  animation: fadein 1s;
  animation-delay: .5s;
  animation-fill-mode: forwards;
}
/* line 19, ../sass/pages/_home.scss */
.home .header h1 {
  font-size: 9.4rem;
  letter-spacing: 4px;
}
/* line 23, ../sass/pages/_home.scss */
.home .header h2 {
  font-size: 2.8rem;
  text-transform: none;
  margin-bottom: 0;
}
/* line 29, ../sass/pages/_home.scss */
.home .section_intro {
  padding: 100px 30px 70px;
}

/* :::::::::::::::::::::::::::::::::: FOCUS POINT SECTIONS */
/* line 34, ../sass/pages/_home.scss */
.focuspoint_one {
  background: url(../images/homebackground_focus1.jpg) no-repeat top center;
  background-size: cover;
}
/* line 37, ../sass/pages/_home.scss */
.focuspoint_one .section {
  padding: 140px 0 30px 140px;
}
/* line 40, ../sass/pages/_home.scss */
.focuspoint_one.testimonialisnext {
  padding-bottom: 250px;
}
/* line 43, ../sass/pages/_home.scss */
.focuspoint_one .focuspoint_count {
  top: 89px;
  left: -35px;
}
/* line 47, ../sass/pages/_home.scss */
.focuspoint_one h2 {
  padding: 9px 10px;
}

/* line 51, ../sass/pages/_home.scss */
.focuspoint_two {
  background: url(../images/homebackground_focus2.jpg) no-repeat top center;
  background-size: cover;
  padding-bottom: 20px;
}
/* line 55, ../sass/pages/_home.scss */
.focuspoint_two .section {
  padding: 40px 30px;
  max-width: 1260px;
  overflow: hidden;
}
/* line 60, ../sass/pages/_home.scss */
.focuspoint_two .section_image {
  float: left;
  margin: -30px 0 0 -30px;
  position: relative;
  z-index: 9;
}
/* line 66, ../sass/pages/_home.scss */
.focuspoint_two .section_content {
  padding: 110px 0 0 0;
  float: right;
  width: 50%;
  position: relative;
}
/* line 72, ../sass/pages/_home.scss */
.focuspoint_two .focuspoint_count {
  top: 40px;
  left: -170px;
}

/* line 77, ../sass/pages/_home.scss */
.section_twopoints {
  background: url(../images/homebackground_focustwopoints.jpg) no-repeat top left;
}
/* line 79, ../sass/pages/_home.scss */
.section_twopoints img {
  max-width: 100%;
}

/* line 83, ../sass/pages/_home.scss */
.focuspoint_three {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding-top: 100px;
}
/* line 86, ../sass/pages/_home.scss */
.focuspoint_three .number {
  font-size: 15.5vw;
}
/* line 89, ../sass/pages/_home.scss */
.focuspoint_three .section_content {
  position: relative;
  -webkit-box-flex: 0.95;
  -moz-box-flex: 0.95;
  -webkit-flex: 0.95;
  -ms-flex: 0.95;
  flex: 0.95;
}
/* line 93, ../sass/pages/_home.scss */
.focuspoint_three .section_image {
  padding: 150px 0 0 115px;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
/* line 97, ../sass/pages/_home.scss */
.focuspoint_three .focuspoint_count {
  top: -50px;
  left: -180px;
}
/* line 101, ../sass/pages/_home.scss */
.focuspoint_three h2 {
  max-width: 480px;
}

/* line 105, ../sass/pages/_home.scss */
.focuspoint_four {
  clear: both;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
/* line 108, ../sass/pages/_home.scss */
.focuspoint_four .section_content {
  clear: left;
  position: relative;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 30px 20px 0 136px;
}
/* line 114, ../sass/pages/_home.scss */
.focuspoint_four .section_image {
  margin-top: -120px;
  -webkit-box-flex: 1.5;
  -moz-box-flex: 1.5;
  -webkit-flex: 1.5;
  -ms-flex: 1.5;
  flex: 1.5;
}
/* line 118, ../sass/pages/_home.scss */
.focuspoint_four .focuspoint_count {
  top: -20px;
  left: -80px;
}

/* line 123, ../sass/pages/_home.scss */
.focuspoint_five {
  background: url(../images/homebackground_focus5.jpg) no-repeat top center;
  background-size: cover;
  padding: 0 30px 270px;
}
/* line 127, ../sass/pages/_home.scss */
.focuspoint_five .pagecta {
  margin-bottom: 120px;
}
/* line 130, ../sass/pages/_home.scss */
.focuspoint_five .focuspoint_count {
  top: -47px;
  left: -40px;
}
/* line 134, ../sass/pages/_home.scss */
.focuspoint_five .section_content {
  padding-left: 150px;
}

/* line 138, ../sass/pages/_home.scss */
.section_getstarted {
  text-align: center;
}
/* line 140, ../sass/pages/_home.scss */
.section_getstarted .popout_image {
  margin: -260px auto 100px;
  max-width: 900px;
}

/* line 145, ../sass/pages/_home.scss */
.home .section_pagecta {
  background: url(../images/home_ctabg.jpg) no-repeat top center;
  background-size: cover;
}
