/* Base styles */
/* line 1, ../sass/partials/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 22, ../sass/partials/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 26, ../sass/partials/_reset.scss */
body {
  line-height: 1;
}

/* line 29, ../sass/partials/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 32, ../sass/partials/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 35, ../sass/partials/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 40, ../sass/partials/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ::::::::::::::::::::::::::::::::::::: Colors */
/* ::::::::::::::::::::::::::::::::::::: Fonts */
@keyframes downarrow {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 0;
  }
  50% {
    -webkit-transform: translate(0, 8px);
    transform: translate(0, 8px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 0;
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Vendor styles */
/* Global styles */
/* line 1, ../sass/partials/_global.scss */
* {
  box-sizing: border-box;
}

/* line 4, ../sass/partials/_global.scss */
body {
  font-family: "Nunito", avenir, arial, sans-serif;
  font-size: 1rem;
  color: #231f20;
}

/* line 9, ../sass/partials/_global.scss */
::-moz-selection {
  background: #fd8309;
  color: #f9f9f9;
}

/* line 13, ../sass/partials/_global.scss */
::selection {
  background: #fd8309;
  color: #f9f9f9;
}

/* :::::::::::::::::::::::::::::: TEXT FORMATTING */
/* line 18, ../sass/partials/_global.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Cormorant Garamond", TimesNewRoman, "Times New Roman", Times, Georgia, serif;
  text-transform: uppercase;
}

/* line 22, ../sass/partials/_global.scss */
h2, h3, h4, h5, h6 {
  margin-bottom: 25px;
}

/* line 25, ../sass/partials/_global.scss */
h2, h3 {
  color: #fd8309;
}

/* line 28, ../sass/partials/_global.scss */
h1 {
  font-weight: 500;
  font-size: 8.5rem;
}

/* line 32, ../sass/partials/_global.scss */
h2 {
  font-size: 5.3rem;
  border-top: 1px solid #231f20;
  border-bottom: 1px solid #231f20;
  display: inline-block;
  padding: 9px 0;
  line-height: .8;
  font-style: italic;
}
/* line 40, ../sass/partials/_global.scss */
h2 span {
  text-transform: none;
}

/* line 44, ../sass/partials/_global.scss */
h3 {
  font-size: 2.2rem;
  font-weight: 500;
}

/* line 48, ../sass/partials/_global.scss */
p {
  font-size: 1.05rem;
  line-height: 1.8;
  font-weight: 100;
  margin-bottom: 20px;
}

/* line 54, ../sass/partials/_global.scss */
a.button {
  text-transform: uppercase;
  color: #fd8309;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 3px;
  position: relative;
  padding: 0 10px 0 35px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
/* line 63, ../sass/partials/_global.scss */
a.button:before {
  content: '';
  width: 28px;
  height: 18px;
  margin-right: 10px;
  margin-top: -3px;
  display: block;
  position: absolute;
  left: 0;
  background: url(../images/arrow.svg) no-repeat bottom left;
  background-size: contain;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
/* line 76, ../sass/partials/_global.scss */
a.button span {
  padding: 0 0 5px;
  display: inline-block;
  border-bottom: 2px solid #231f20;
}
/* line 81, ../sass/partials/_global.scss */
a.button:hover {
  color: #231f20;
}
/* line 83, ../sass/partials/_global.scss */
a.button:hover:before {
  left: 100%;
}

/* line 88, ../sass/partials/_global.scss */
a.button_alt {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 2px;
  position: relative;
  padding: 17px;
  color: #231f20;
  border: 1px solid #231f20;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
/* line 98, ../sass/partials/_global.scss */
a.button_alt:hover {
  background: #231f20;
  color: #f9f9f9;
}

/* line 103, ../sass/partials/_global.scss */
.focuspoint_count {
  font-size: 12rem;
  font-family: "Libre Baskerville", Georgia, Times, "Times New Roman", serif;
  color: rgba(35, 31, 32, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: -5px;
}

/* :::::::::::::::::::::::::::::: MAIN NAV */
/* line 113, ../sass/partials/_global.scss */
.navigation_wrapper {
  padding: 16px 20px 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  background: #ffffff;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-box-shadow: 2px 2px 18px 6px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 2px 2px 18px 6px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 18px 6px rgba(0, 0, 0, 0.1);
}

/* line 124, ../sass/partials/_global.scss */
.navigation {
  max-width: 1300px;
  margin: 0 auto;
}
/* line 127, ../sass/partials/_global.scss */
.navigation nav {
  background: #ffffff;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
/* line 135, ../sass/partials/_global.scss */
.navigation a {
  color: #231f20;
  text-transform: uppercase;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 3px;
  padding: 15px 20px;
  font-size: .9rem;
  margin-left: 18px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
/* line 145, ../sass/partials/_global.scss */
.navigation a .st0 {
  stroke: #231f20;
}
/* line 148, ../sass/partials/_global.scss */
.navigation a:hover {
  background: #231f20;
  color: #f9f9f9;
}
/* line 151, ../sass/partials/_global.scss */
.navigation a:hover .st0 {
  stroke: #f9f9f9;
}
/* line 156, ../sass/partials/_global.scss */
.navigation .logo {
  width: 180px;
  height: 60px;
  display: block;
  text-indent: -99999em;
  float: left;
  padding: 0;
  background: #ffffff url(../images/logohoriz.svg) no-repeat top left;
  background-size: contain;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
/* line 166, ../sass/partials/_global.scss */
.navigation .logo:hover {
  background: #ffffff url(../images/logohoriz.svg) no-repeat top left;
  background-size: contain;
}
/* line 171, ../sass/partials/_global.scss */
.navigation .logoalt {
  display: none;
}
/* line 174, ../sass/partials/_global.scss */
.navigation .programdetails {
  margin-left: 0;
}
/* line 177, ../sass/partials/_global.scss */
.navigation .button {
  border: 1px solid #231f20;
}
/* line 179, ../sass/partials/_global.scss */
.navigation .button:before {
  display: none;
}

/* line 185, ../sass/partials/_global.scss */
.mobile_social a {
  width: 35px;
  height: 35px;
  display: inline-block;
  margin-left: 5px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
/* line 191, ../sass/partials/_global.scss */
.mobile_social a:hover {
  transform: scale(1.15);
  fill: #fd8309;
}

/* line 197, ../sass/partials/_global.scss */
.dropdownarrow {
  width: 13px;
  height: 6px;
  display: inline-block;
}

/* line 202, ../sass/partials/_global.scss */
.navigation_wrapper.stick {
  background: none;
  position: absolute;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 50px 30px;
}
/* line 208, ../sass/partials/_global.scss */
.navigation_wrapper.stick .navigation .logo {
  width: 155px;
  height: 115px;
  background: url(../images/logo.svg) no-repeat top left;
  background-size: contain;
}
/* line 213, ../sass/partials/_global.scss */
.navigation_wrapper.stick .navigation .logo:hover {
  background: url(../images/logo.svg) no-repeat top left;
  background-size: contain;
}
/* line 218, ../sass/partials/_global.scss */
.navigation_wrapper.stick .navigation a {
  color: #f9f9f9;
}
/* line 220, ../sass/partials/_global.scss */
.navigation_wrapper.stick .navigation a .st0 {
  stroke: #f9f9f9;
}
/* line 223, ../sass/partials/_global.scss */
.navigation_wrapper.stick .navigation a:hover {
  background: #f9f9f9;
  color: #231f20;
}
/* line 226, ../sass/partials/_global.scss */
.navigation_wrapper.stick .navigation a:hover .st0 {
  stroke: black;
}
/* line 231, ../sass/partials/_global.scss */
.navigation_wrapper.stick .navigation .button {
  border: 1px solid #f9f9f9;
}

/* line 236, ../sass/partials/_global.scss */
.mobilenav {
  display: none;
}

/*.mobilenav {
	background: $starkwhite;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 30px;
	z-index: 9999;
	.mobile_logo {
		width: 125px;
		height: 90px;
		background: url(../images/logoalt.svg) no-repeat top left;
		background-size: contain;
		text-indent: -9999em;
		display: block;
		margin: 0 auto;
		margin-left: auto;
		float: none;
		padding: 0;
		&:hover {
			background: url(../images/logoalt.svg) no-repeat top left;
			background-size: contain;
		}
	}
	nav {
		display: block;
		position: static;
		max-width: 230px;
		margin: 0 auto 25px;
		a {
			color: $black;
			text-transform: uppercase;
			font-weight: 500;
			text-decoration: none;
			letter-spacing: 3px;
			padding: 15px 20px;
			font-size: .9rem;
			margin: 0 auto 10px;
			display: block;
			text-align: center;
			@include transition(.2s);
			border: 1px solid $black;
			.st0 {
				stroke: $black;
			}
			&:hover {
				background: $black;
				color: $white;
				.st0 {
					stroke: $white;
				}
			}
		}
	}
}*/
/* :::::::::::::::::::::::::::::: PAGE HEADER */
/* line 296, ../sass/partials/_global.scss */
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
/* line 301, ../sass/partials/_global.scss */
.header h1, .header h2 {
  color: #f9f9f9;
  font-family: "Cormorant Garamond", TimesNewRoman, "Times New Roman", Times, Georgia, serif;
  font-style: italic;
}
/* line 306, ../sass/partials/_global.scss */
.header h1 {
  text-transform: uppercase;
  font-size: 8.2rem;
  letter-spacing: 4px;
}
/* line 311, ../sass/partials/_global.scss */
.header h2 {
  font-size: 2.4rem;
  font-weight: 200;
  border-top: 0;
  border-bottom: 0;
}

/* line 318, ../sass/partials/_global.scss */
.scroll {
  margin: 15px auto 0;
  display: block;
  width: 18px;
}

/* line 323, ../sass/partials/_global.scss */
.scroll_arrow {
  display: block;
  height: 10px;
  animation: downarrow 3s infinite;
  animation-delay: .1s;
}

/* line 329, ../sass/partials/_global.scss */
.mobile_menu_button {
  position: absolute;
  top: 20px;
  right: 20px;
}

/* :::::::::::::::::::::::::::::: FOOTER */
/* line 336, ../sass/partials/_global.scss */
.footer {
  max-width: 1260px;
  margin: 0 auto 30px;
  padding: 30px 20px 0;
}
/* line 340, ../sass/partials/_global.scss */
.footer:after {
  content: '';
  display: block;
  width: 1px;
  clear: both;
}
/* line 346, ../sass/partials/_global.scss */
.footer nav {
  max-width: 230px;
  margin: 0 auto 25px;
}
/* line 349, ../sass/partials/_global.scss */
.footer nav a {
  color: #231f20;
  text-transform: uppercase;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 3px;
  padding: 15px 20px;
  font-size: .9rem;
  margin: 0 auto 10px;
  display: block;
  text-align: center;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  border: 1px solid #231f20;
}
/* line 362, ../sass/partials/_global.scss */
.footer nav a .st0 {
  stroke: #231f20;
}
/* line 365, ../sass/partials/_global.scss */
.footer nav a:hover {
  background: #231f20;
  color: #f9f9f9;
}
/* line 368, ../sass/partials/_global.scss */
.footer nav a:hover .st0 {
  stroke: #f9f9f9;
}
/* line 373, ../sass/partials/_global.scss */
.footer nav .button {
  border: 1px solid #231f20;
}
/* line 375, ../sass/partials/_global.scss */
.footer nav .button:before {
  display: none;
}
/* line 380, ../sass/partials/_global.scss */
.footer .social {
  clear: right;
  margin: 0 auto;
  max-width: 175px;
}
/* line 384, ../sass/partials/_global.scss */
.footer .social a {
  width: 35px;
  height: 35px;
  display: inline-block;
  margin-left: 5px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
/* line 390, ../sass/partials/_global.scss */
.footer .social a:hover {
  transform: scale(1.15);
  fill: #fd8309;
}

/* line 397, ../sass/partials/_global.scss */
.footer_logo {
  width: 127px;
  height: 105px;
  display: block;
  margin: 0 auto 20px;
}
/* line 402, ../sass/partials/_global.scss */
.footer_logo img {
  width: 100%;
  height: auto;
}

/* line 407, ../sass/partials/_global.scss */
.footer_bottom {
  clear: both;
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 30px 20px;
  text-align: center;
}
/* line 413, ../sass/partials/_global.scss */
.footer_bottom p {
  margin-bottom: 0;
  font-size: .9rem;
  line-height: 1.5;
}
/* line 418, ../sass/partials/_global.scss */
.footer_bottom a {
  text-decoration: none;
  color: #fd8309;
}
/* line 421, ../sass/partials/_global.scss */
.footer_bottom a:hover {
  text-decoration: underline;
}

/* :::::::::::::::::::::::::::::: SECTION */
/* line 428, ../sass/partials/_global.scss */
.section_wrapper {
  padding: 50px 20px;
}
/* line 430, ../sass/partials/_global.scss */
.section_wrapper .section {
  max-width: 900px;
  margin: 0 auto;
  position: relative;
}

/* line 436, ../sass/partials/_global.scss */
.section_intro {
  text-align: center;
}
/* line 438, ../sass/partials/_global.scss */
.section_intro .section {
  max-width: 820px;
}

/* line 443, ../sass/partials/_global.scss */
.section_twopoints .section {
  max-width: 1230px;
}

/* :::::::::::::::::::::::::::::::::: TESTIMONIAL SECTIONS */
/* line 448, ../sass/partials/_global.scss */
.section_imgtestimonial {
  margin-top: -270px;
  position: relative;
}
/* line 451, ../sass/partials/_global.scss */
.section_imgtestimonial img {
  display: block;
  max-width: 100%;
}
/* line 456, ../sass/partials/_global.scss */
.section_imgtestimonial .section_testimonial p {
  font-size: 1rem;
}
/* line 460, ../sass/partials/_global.scss */
.section_imgtestimonial .testimonial_image {
  display: none;
}

/* line 464, ../sass/partials/_global.scss */
.testimonial_image {
  width: 160px;
  height: 160px;
  position: absolute;
}
/* line 468, ../sass/partials/_global.scss */
.testimonial_image img {
  display: block;
  width: 100%;
}

/* line 473, ../sass/partials/_global.scss */
.testimonial_content {
  background: #f9f9f9;
  -webkit-box-shadow: 2px 2px 18px 6px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 2px 2px 18px 6px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 18px 6px rgba(0, 0, 0, 0.1);
  padding: 30px 30px 30px 45px;
}

/* line 479, ../sass/partials/_global.scss */
.section_testimonial p {
  font-family: "Libre Baskerville", Georgia, Times, "Times New Roman", serif;
  font-style: italic;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.9;
  position: relative;
}
/* line 486, ../sass/partials/_global.scss */
.section_testimonial p:before {
  content: '';
  background: url(../images/icon_quote.png) no-repeat top left;
  width: 46px;
  height: 36px;
  font-family: "Libre Baskerville", Georgia, Times, "Times New Roman", serif;
  display: block;
  font-size: 9rem;
  line-height: 1;
  color: rgba(253, 131, 9, 0.4);
  position: absolute;
  top: -12px;
  left: -28px;
}
/* line 501, ../sass/partials/_global.scss */
.section_testimonial span.author {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
}

/* line 508, ../sass/partials/_global.scss */
.section_texttestimonial_top {
  padding: 50px 0;
}
/* line 510, ../sass/partials/_global.scss */
.section_texttestimonial_top .section {
  max-width: 900px;
}
/* line 513, ../sass/partials/_global.scss */
.section_texttestimonial_top .section_testimonial {
  margin-top: -230px;
}
/* line 516, ../sass/partials/_global.scss */
.section_texttestimonial_top .testimonial_content {
  width: 100%;
  padding: 50px 40px 40px 50px;
}
/* line 520, ../sass/partials/_global.scss */
.section_texttestimonial_top .testimonial_image {
  top: -90px;
  left: 35px;
  display: none;
}
/* line 525, ../sass/partials/_global.scss */
.section_texttestimonial_top p {
  font-size: 1rem;
}

/* line 530, ../sass/partials/_global.scss */
.section_texttestimonial_right .section_testimonial {
  margin-top: -150px;
}
/* line 533, ../sass/partials/_global.scss */
.section_texttestimonial_right .testimonial_content {
  padding: 50px 20px 40px 60px;
}
/* line 536, ../sass/partials/_global.scss */
.section_texttestimonial_right .testimonial_image {
  display: none;
}
/* line 539, ../sass/partials/_global.scss */
.section_texttestimonial_right p:before {
  width: 61px;
  height: 46px;
  background-size: contain;
  top: -28px;
  left: -33px;
}

/* :::::::::::::::::::::::::::::::::: STAT SECTIONS */
/* line 548, ../sass/partials/_global.scss */
.stat {
  text-align: center;
}
/* line 550, ../sass/partials/_global.scss */
.stat .number {
  font-size: 7rem;
  font-family: "Libre Baskerville", Georgia, Times, "Times New Roman", serif;
  display: block;
  color: rgba(35, 31, 32, 0.1);
  line-height: .8;
}
/* line 557, ../sass/partials/_global.scss */
.stat .text {
  font-family: "Cormorant Garamond", TimesNewRoman, "Times New Roman", Times, Georgia, serif;
  font-style: italic;
  font-size: 2.2rem;
  display: block;
  line-height: 1;
  margin-bottom: 10px;
}
/* line 565, ../sass/partials/_global.scss */
.stat .stat_source {
  text-transform: uppercase;
  color: #cccccc;
  font-weight: 400;
  letter-spacing: 3px;
  font-size: 1rem;
}

/* line 573, ../sass/partials/_global.scss */
.stat_one {
  background: url(../images/homebackground_stat1.jpg) no-repeat 35% 110%;
  background-size: 620px;
  min-height: 500px;
  padding-bottom: 230px;
  padding-top: 30px;
}

/* line 580, ../sass/partials/_global.scss */
.stat_two {
  background: #fd8309 url(../images/homebackground_stat2.jpg) no-repeat bottom center;
  background-size: cover;
  min-height: 490px;
  padding-top: 30px;
}
/* line 585, ../sass/partials/_global.scss */
.stat_two p {
  color: #f9f9f9;
}
/* line 588, ../sass/partials/_global.scss */
.stat_two .number {
  color: rgba(255, 255, 255, 0.3);
  line-height: .9;
}
/* line 592, ../sass/partials/_global.scss */
.stat_two.testimonialisnext {
  padding-bottom: 140px;
}

/* line 596, ../sass/partials/_global.scss */
.stat_three {
  background: #ffffff url(../images/homebackground_stat3.jpg) no-repeat bottom center;
  background-size: 145%;
  min-height: 440px;
  padding: 0 20px 50px;
}
/* line 601, ../sass/partials/_global.scss */
.stat_three .section {
  max-width: 1200px;
}
/* line 604, ../sass/partials/_global.scss */
.stat_three .number {
  line-height: 1;
  font-size: 16vw;
}

/* :::::::::::::::::::::::::::::::::: CTA SECTIONS */
/* line 610, ../sass/partials/_global.scss */
.pagecta {
  overflow: hidden;
  margin-bottom: 50px;
  text-align: center;
}
/* line 614, ../sass/partials/_global.scss */
.pagecta p {
  font-family: "Cormorant Garamond", TimesNewRoman, "Times New Roman", Times, Georgia, serif;
  font-style: italic;
  color: #fd8309;
  display: inline-block;
  font-size: 2rem;
  line-height: 1.2;
}
/* line 622, ../sass/partials/_global.scss */
.pagecta a {
  display: inline-block;
}

/* :::::::::::::::::::::::::::::::::: COST SECTIONS */
/* line 627, ../sass/partials/_global.scss */
.section_tuition {
  -webkit-box-shadow: 0px -3px 17px 1px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px -3px 17px 1px rgba(0, 0, 0, 0.16);
  box-shadow: 0px -3px 17px 1px rgba(0, 0, 0, 0.16);
  padding: 110px 20px 50px;
}
/* line 630, ../sass/partials/_global.scss */
.section_tuition .section {
  text-align: center;
  position: relative;
}
/* line 634, ../sass/partials/_global.scss */
.section_tuition h3 {
  margin-bottom: 10px;
}
/* line 637, ../sass/partials/_global.scss */
.section_tuition img.badge {
  position: absolute;
  top: -150px;
  left: 0;
  width: 190px;
  height: auto;
}
/* line 644, ../sass/partials/_global.scss */
.section_tuition p.cost {
  font-family: "Cormorant Garamond", TimesNewRoman, "Times New Roman", Times, Georgia, serif;
  font-style: italic;
  font-size: 1.8rem;
  line-height: 1;
  margin-bottom: 0;
}
/* line 651, ../sass/partials/_global.scss */
.section_tuition .number {
  font-size: 4.25rem;
  color: rgba(35, 31, 32, 0.1);
  font-style: normal;
  font-family: "Libre Baskerville", Georgia, Times, "Times New Roman", serif;
}
/* line 657, ../sass/partials/_global.scss */
.section_tuition .cost_for {
  text-transform: uppercase;
  font-weight: 500;
  font-size: .95rem;
  letter-spacing: 2px;
}
/* line 663, ../sass/partials/_global.scss */
.section_tuition .cost_note {
  font-family: "Cormorant Garamond", TimesNewRoman, "Times New Roman", Times, Georgia, serif;
  font-style: italic;
  margin-bottom: 0;
  line-height: 1.2;
  font-size: 1.1rem;
}

/* :::::::::::::::::::::::::::::::::: END OF PAGE CTA SECTIONS */
/* line 672, ../sass/partials/_global.scss */
.section_pagecta {
  text-align: center;
  padding: 60px 20px;
}
/* line 675, ../sass/partials/_global.scss */
.section_pagecta h4 {
  color: #f9f9f9;
  font-size: 2rem;
  font-style: italic;
}
/* line 679, ../sass/partials/_global.scss */
.section_pagecta h4 .top_head {
  display: block;
  margin-bottom: 6px;
  letter-spacing: 1px;
}
/* line 684, ../sass/partials/_global.scss */
.section_pagecta h4 .main_head {
  display: inline-block;
  clear: both;
  font-size: 4.7rem;
  border-top: 1px solid #fd8309;
  border-bottom: 1px solid #fd8309;
}
/* line 693, ../sass/partials/_global.scss */
.section_pagecta a.button span {
  border-color: #f9f9f9;
}
/* line 696, ../sass/partials/_global.scss */
.section_pagecta a.button:hover {
  color: #f9f9f9;
}

/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
/* :::::::::::::::::::::::::::::::::::::::::::::::::::: MEDIA QUERIES */
/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
@media screen and (min-width: 550px) {
  /* line 708, ../sass/partials/_global.scss */
  .stat_one {
    background-size: 730px;
    background-position: center 140%;
    padding-bottom: 240px;
  }

  /* line 713, ../sass/partials/_global.scss */
  .stat_two {
    min-height: 500px;
  }
  /* line 715, ../sass/partials/_global.scss */
  .stat_two.testimonialisnext {
    padding-bottom: 200px;
  }

  /* line 719, ../sass/partials/_global.scss */
  .stat_three {
    background-size: contain;
    padding: 50px 20px;
  }

  /* line 723, ../sass/partials/_global.scss */
  .section_texttestimonial_top {
    padding: 50px 20px;
  }
  /* line 725, ../sass/partials/_global.scss */
  .section_texttestimonial_top .testimonial_image {
    display: block;
  }
  /* line 728, ../sass/partials/_global.scss */
  .section_texttestimonial_top .testimonial_content {
    padding: 80px 40px 40px 80px;
  }
  /* line 731, ../sass/partials/_global.scss */
  .section_texttestimonial_top p {
    font-size: 1.1rem;
  }

  /* line 736, ../sass/partials/_global.scss */
  .section_texttestimonial_right .testimonial_image {
    right: 30px;
    top: 0;
    margin-top: -80px;
    display: block;
  }
  /* line 742, ../sass/partials/_global.scss */
  .section_texttestimonial_right .testimonial_content {
    padding: 100px 30px 60px 60px;
  }

  /* line 747, ../sass/partials/_global.scss */
  .pagecta p {
    padding-right: 25px;
    font-size: 2.8rem;
  }

  /* line 753, ../sass/partials/_global.scss */
  .section_tuition p.cost {
    font-size: 2.5rem;
  }
  /* line 756, ../sass/partials/_global.scss */
  .section_tuition .number {
    font-size: 6.25rem;
  }
}
@media screen and (min-width: 750px) {
  /* line 762, ../sass/partials/_global.scss */
  h3 {
    font-size: 2.7rem;
  }

  /* line 766, ../sass/partials/_global.scss */
  .section_imgtestimonial .section_testimonial {
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 470px;
  }
  /* line 772, ../sass/partials/_global.scss */
  .section_imgtestimonial .testimonial_image {
    top: 50%;
    left: -110px;
    margin-top: -80px;
    display: block;
  }

  /* line 779, ../sass/partials/_global.scss */
  .testimonial_content {
    padding: 30px 30px 30px 65px;
  }

  /* line 783, ../sass/partials/_global.scss */
  .stat .number {
    font-size: 13rem;
  }
  /* line 786, ../sass/partials/_global.scss */
  .stat .text {
    font-size: 3rem;
  }

  /* line 790, ../sass/partials/_global.scss */
  .stat_one {
    padding-bottom: 560px;
    background-position: center top;
    background-size: cover;
  }

  /* line 795, ../sass/partials/_global.scss */
  .stat_three {
    min-height: 600px;
  }
  /* line 797, ../sass/partials/_global.scss */
  .stat_three .number {
    font-size: 16vw;
  }

  /* line 801, ../sass/partials/_global.scss */
  .section_tuition img.badge {
    width: 220px;
  }
}
@media screen and (min-width: 850px) {
  /* line 806, ../sass/partials/_global.scss */
  .footer_logo {
    margin: 0;
    float: left;
  }

  /* line 811, ../sass/partials/_global.scss */
  .footer nav {
    float: right;
    max-width: 100%;
    margin: 0 0 10px;
  }
  /* line 815, ../sass/partials/_global.scss */
  .footer nav a {
    margin-left: 18px;
    display: inline-block;
    border: 0;
  }
  /* line 821, ../sass/partials/_global.scss */
  .footer .social {
    float: right;
    clear: right;
    max-width: 100%;
    margin: 0;
  }

  /* line 828, ../sass/partials/_global.scss */
  .footer_bottom {
    text-align: left;
  }
}
@media screen and (min-width: 950px) {
  /* line 833, ../sass/partials/_global.scss */
  .mobile_menu_button, .mobilenav {
    display: none;
  }

  /* line 836, ../sass/partials/_global.scss */
  .logoalt {
    display: none;
  }

  /* line 841, ../sass/partials/_global.scss */
  .navigation.stick nav {
    padding-top: 30px;
  }
  /* line 845, ../sass/partials/_global.scss */
  .navigation nav {
    float: right;
    padding-top: 14px;
    display: block;
    background: none;
    position: static;
    width: auto;
  }

  /* line 854, ../sass/partials/_global.scss */
  .stat_three {
    min-height: 820px;
  }

  /* line 858, ../sass/partials/_global.scss */
  .section_texttestimonial_right .testimonial_content {
    padding: 60px 150px 60px 80px;
  }
  /* line 861, ../sass/partials/_global.scss */
  .section_texttestimonial_right .testimonial_image {
    right: -30px;
    top: 50%;
  }

  /* line 866, ../sass/partials/_global.scss */
  .section_tuition {
    padding: 40px 20px 50px;
  }
  /* line 868, ../sass/partials/_global.scss */
  .section_tuition img.badge {
    top: -100px;
    left: -40px;
    width: auto;
    height: auto;
  }
}
@media screen and (min-width: 1050px) {
  /* line 878, ../sass/partials/_global.scss */
  .section_imgtestimonial .section_testimonial {
    right: -45px;
  }
}
@media screen and (min-width: 1150px) {
  /* line 884, ../sass/partials/_global.scss */
  .stat_three {
    min-height: 950px;
  }

  /* line 888, ../sass/partials/_global.scss */
  .section_texttestimonial_right .testimonial_content {
    padding: 60px 100px 60px 80px;
  }
  /* line 891, ../sass/partials/_global.scss */
  .section_texttestimonial_right .testimonial_image {
    right: -80px;
  }
}
@media screen and (min-width: 1250px) {
  /* line 898, ../sass/partials/_global.scss */
  .stat_three .number {
    font-size: 13rem;
  }
}
/* :::::::::::::::::::::::::::::::::::::::::::::::::::: MOBILE ONLY */
/* Page specific styles */
/* line 1, ../sass/pages/_home.scss */
.home {
  /* :::::::::::::::::::::::::::::: PAGE HEADER */
}
/* line 2, ../sass/pages/_home.scss */
.home .navigation_wrapper {
  opacity: 0;
  animation: fadein 1s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
}
/* line 8, ../sass/pages/_home.scss */
.home .header_wrapper {
  background: url(../images/homebg.jpg) no-repeat center center;
  background-size: cover;
}
/* line 13, ../sass/pages/_home.scss */
.home .header {
  height: 100vh;
  min-height: 470px;
  opacity: 0;
  animation: fadein 1s;
  animation-delay: .5s;
  animation-fill-mode: forwards;
}
/* line 20, ../sass/pages/_home.scss */
.home .header h1 {
  font-size: 12vw;
  letter-spacing: 2px;
}
/* line 24, ../sass/pages/_home.scss */
.home .header h2 {
  font-size: 8vw;
  line-height: 1.1;
  max-width: 69vw;
  text-transform: none;
  margin-bottom: 0;
}
/* line 32, ../sass/pages/_home.scss */
.home .section_intro {
  padding: 60px 20px 0;
}

/* :::::::::::::::::::::::::::::::::: FOCUS POINT SECTIONS */
/* line 37, ../sass/pages/_home.scss */
.focuspoint_one {
  background: url(../images/homebackground_focus1.jpg) no-repeat top center;
  background-size: cover;
}
/* line 40, ../sass/pages/_home.scss */
.focuspoint_one .section {
  padding: 20px 0 30px 0;
}
/* line 43, ../sass/pages/_home.scss */
.focuspoint_one.testimonialisnext {
  padding-bottom: 250px;
}
/* line 46, ../sass/pages/_home.scss */
.focuspoint_one .focuspoint_count {
  top: 7px;
  left: 0;
  font-size: 6rem;
}
/* line 51, ../sass/pages/_home.scss */
.focuspoint_one h2 {
  padding: 9px 10px;
  margin-left: 84px;
  font-size: 3.3rem;
}

/* line 57, ../sass/pages/_home.scss */
.focuspoint_two {
  background: url(../images/homebackground_focus2.jpg) no-repeat center bottom;
  background-size: 200%;
  padding-bottom: 20px;
}
/* line 61, ../sass/pages/_home.scss */
.focuspoint_two .section {
  padding: 40px 0;
  max-width: 1260px;
  overflow: hidden;
}
/* line 66, ../sass/pages/_home.scss */
.focuspoint_two .section_image {
  margin: -30px 0 20px -30px;
  position: relative;
  z-index: 9;
}
/* line 71, ../sass/pages/_home.scss */
.focuspoint_two .section_content {
  padding: 0;
  position: relative;
}
/* line 75, ../sass/pages/_home.scss */
.focuspoint_two .focuspoint_count {
  top: -25px;
  left: 0;
  font-size: 7rem;
}
/* line 80, ../sass/pages/_home.scss */
.focuspoint_two img {
  max-width: 100%;
}
/* line 83, ../sass/pages/_home.scss */
.focuspoint_two h2 {
  font-size: 2.5rem;
}

/* line 87, ../sass/pages/_home.scss */
.section_twopoints {
  background: url(../images/homebackground_focustwopoints.jpg) no-repeat top left;
}
/* line 89, ../sass/pages/_home.scss */
.section_twopoints img {
  width: 100%;
}

/* line 93, ../sass/pages/_home.scss */
.focuspoint_three {
  padding-bottom: 30px;
}
/* line 95, ../sass/pages/_home.scss */
.focuspoint_three .number {
  font-size: 15.5vw;
}
/* line 98, ../sass/pages/_home.scss */
.focuspoint_three .section_content {
  position: relative;
}
/* line 101, ../sass/pages/_home.scss */
.focuspoint_three .section_image {
  padding: 0;
}
/* line 103, ../sass/pages/_home.scss */
.focuspoint_three .section_image img {
  width: 106%;
  margin: 0 -3%;
}
/* line 108, ../sass/pages/_home.scss */
.focuspoint_three .focuspoint_count {
  top: -30px;
  left: 0;
  font-size: 7rem;
}
/* line 113, ../sass/pages/_home.scss */
.focuspoint_three h2 {
  max-width: 59vw;
  margin-left: 110px;
  font-size: 10vw;
}

/* line 119, ../sass/pages/_home.scss */
.focuspoint_four {
  clear: both;
}
/* line 121, ../sass/pages/_home.scss */
.focuspoint_four .section_content {
  clear: left;
  position: relative;
  padding: 0 0 35px;
}
/* line 126, ../sass/pages/_home.scss */
.focuspoint_four .section_image {
  padding: 0;
}
/* line 129, ../sass/pages/_home.scss */
.focuspoint_four .focuspoint_count {
  top: -30px;
  left: 0;
  font-size: 7rem;
}
/* line 134, ../sass/pages/_home.scss */
.focuspoint_four h2 {
  margin-left: 110px;
  font-size: 10vw;
}

/* line 139, ../sass/pages/_home.scss */
.focuspoint_five {
  background: url(../images/homebackground_focus5.jpg) no-repeat top center;
  background-size: cover;
  padding: 0 30px 130px;
}
/* line 143, ../sass/pages/_home.scss */
.focuspoint_five .pagecta {
  margin-bottom: 120px;
}
/* line 146, ../sass/pages/_home.scss */
.focuspoint_five .focuspoint_count {
  top: -30px;
  left: 0;
  font-size: 7rem;
}
/* line 151, ../sass/pages/_home.scss */
.focuspoint_five h2 {
  font-size: 10vw;
  margin-left: 110px;
}

/* line 156, ../sass/pages/_home.scss */
.section_getstarted {
  text-align: center;
}
/* line 158, ../sass/pages/_home.scss */
.section_getstarted .popout_image {
  margin: -120px auto 50px;
  max-width: 900px;
}
/* line 161, ../sass/pages/_home.scss */
.section_getstarted .popout_image img {
  width: 100%;
}

/* line 166, ../sass/pages/_home.scss */
.home .section_pagecta {
  background: url(../images/home_ctabg.jpg) no-repeat top center;
  background-size: cover;
}

/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
/* :::::::::::::::::::::::::::::::::::::::::::::::::::: MEDIA QUERIES */
/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
@media screen and (max-width: 600px) and (max-height: 650px) {
  /* line 174, ../sass/pages/_home.scss */
  .home .header {
    padding-top: 100px;
  }
}
@media screen and (min-width: 500px) {
  /* :::::::::::::::::::::::::::::: PAGE HEADER */
  /* line 181, ../sass/pages/_home.scss */
  .home .header h2 {
    max-width: 100%;
    font-size: 5vw;
  }

  /* line 187, ../sass/pages/_home.scss */
  .focuspoint_one .section {
    padding: 20px 0 30px 140px;
  }
  /* line 190, ../sass/pages/_home.scss */
  .focuspoint_one .focuspoint_count {
    top: -31px;
    left: 35px;
    font-size: 8rem;
  }
  /* line 195, ../sass/pages/_home.scss */
  .focuspoint_one h2 {
    margin-left: 0;
    font-size: 5.3rem;
  }

  /* line 201, ../sass/pages/_home.scss */
  .focuspoint_three h2 {
    margin-left: 130px;
  }
  /* line 204, ../sass/pages/_home.scss */
  .focuspoint_three .focuspoint_count {
    font-size: 9rem;
  }
}
@media screen and (min-width: 650px) {
  /* line 210, ../sass/pages/_home.scss */
  .focuspoint_two {
    background-size: cover;
  }
  /* line 212, ../sass/pages/_home.scss */
  .focuspoint_two .section {
    padding: 40px 0;
  }
  /* line 215, ../sass/pages/_home.scss */
  .focuspoint_two .section_image {
    float: left;
    width: 50%;
  }
  /* line 219, ../sass/pages/_home.scss */
  .focuspoint_two .section_content {
    float: right;
    width: 50%;
  }
}
@media screen and (min-width: 750px) {
  /* :::::::::::::::::::::::::::::: PAGE HEADER */
  /* line 228, ../sass/pages/_home.scss */
  .home .header h2 {
    font-size: 2.3rem;
  }

  /* line 232, ../sass/pages/_home.scss */
  .section_intro {
    padding: 100px 30px 70px;
  }

  /* line 236, ../sass/pages/_home.scss */
  .focuspoint_two .section_content {
    padding: 50px 0 0 0;
  }
  /* line 239, ../sass/pages/_home.scss */
  .focuspoint_two .focuspoint_count {
    top: 25px;
    font-size: 8rem;
  }
  /* line 243, ../sass/pages/_home.scss */
  .focuspoint_two h2 {
    font-size: 3rem;
  }

  /* line 247, ../sass/pages/_home.scss */
  .focuspoint_five {
    padding: 0 30px 270px;
  }
  /* line 249, ../sass/pages/_home.scss */
  .focuspoint_five .section_content {
    padding-left: 150px;
  }
  /* line 252, ../sass/pages/_home.scss */
  .focuspoint_five .focuspoint_count {
    font-size: 12rem;
    top: -47px;
    left: -20px;
  }
  /* line 257, ../sass/pages/_home.scss */
  .focuspoint_five h2 {
    font-size: 5.3rem;
    margin-left: 0;
  }

  /* line 262, ../sass/pages/_home.scss */
  .section_getstarted .popout_image {
    margin: -260px auto 100px;
  }
}
@media screen and (min-width: 850px) {
  /* line 267, ../sass/pages/_home.scss */
  .focuspoint_three {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row-reverse;
    padding-top: 100px;
  }
  /* line 271, ../sass/pages/_home.scss */
  .focuspoint_three .number {
    font-size: 15.5vw;
  }
  /* line 274, ../sass/pages/_home.scss */
  .focuspoint_three .section_content {
    -webkit-box-flex: 0.95;
    -moz-box-flex: 0.95;
    -webkit-flex: 0.95;
    -ms-flex: 0.95;
    flex: 0.95;
  }
  /* line 277, ../sass/pages/_home.scss */
  .focuspoint_three .section_image {
    padding: 150px 20px 0 0;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  /* line 280, ../sass/pages/_home.scss */
  .focuspoint_three .section_image img {
    width: 100%;
    margin: 0;
  }
  /* line 285, ../sass/pages/_home.scss */
  .focuspoint_three .focuspoint_count {
    top: -50px;
    left: -180px;
    font-size: 12rem;
  }
  /* line 290, ../sass/pages/_home.scss */
  .focuspoint_three h2 {
    margin-left: 0;
    font-size: 5.3rem;
    max-width: 480px;
  }

  /* line 296, ../sass/pages/_home.scss */
  .focuspoint_four {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
  /* line 298, ../sass/pages/_home.scss */
  .focuspoint_four .section_content {
    clear: left;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 30px 20px 0 136px;
  }
  /* line 303, ../sass/pages/_home.scss */
  .focuspoint_four .section_image {
    -webkit-box-flex: 1.5;
    -moz-box-flex: 1.5;
    -webkit-flex: 1.5;
    -ms-flex: 1.5;
    flex: 1.5;
  }
  /* line 306, ../sass/pages/_home.scss */
  .focuspoint_four .focuspoint_count {
    top: 0;
    left: 10px;
    font-size: 9rem;
  }
  /* line 311, ../sass/pages/_home.scss */
  .focuspoint_four h2 {
    margin-left: 0;
    font-size: 5.3rem;
  }
}
@media screen and (min-width: 950px) {
  /* :::::::::::::::::::::::::::::: PAGE HEADER */
  /* line 320, ../sass/pages/_home.scss */
  .home .header h1 {
    font-size: 9.4rem;
    letter-spacing: 4px;
  }
  /* line 324, ../sass/pages/_home.scss */
  .home .header h2 {
    font-size: 2.8rem;
  }

  /* line 329, ../sass/pages/_home.scss */
  .focuspoint_one .section {
    padding: 140px 0 30px 140px;
  }
  /* line 332, ../sass/pages/_home.scss */
  .focuspoint_one .focuspoint_count {
    font-size: 12rem;
    top: 89px;
    left: -35px;
  }

  /* line 339, ../sass/pages/_home.scss */
  .focuspoint_two .section_content {
    padding: 70px 0 0 0;
  }
  /* line 342, ../sass/pages/_home.scss */
  .focuspoint_two .focuspoint_count {
    top: 25px;
    font-size: 10rem;
  }
  /* line 346, ../sass/pages/_home.scss */
  .focuspoint_two h2 {
    font-size: 3.5rem;
  }

  /* line 350, ../sass/pages/_home.scss */
  .focuspoint_three {
    padding-bottom: 0;
  }

  /* line 354, ../sass/pages/_home.scss */
  .focuspoint_four .section_image {
    margin-top: -50px;
  }
}
@media screen and (min-width: 1150px) {
  /* line 361, ../sass/pages/_home.scss */
  .focuspoint_two .focuspoint_count {
    top: 75px;
  }
  /* line 364, ../sass/pages/_home.scss */
  .focuspoint_two .section_content {
    padding: 110px 0 0 0;
  }
  /* line 367, ../sass/pages/_home.scss */
  .focuspoint_two h2 {
    font-size: 4.5rem;
  }

  /* line 372, ../sass/pages/_home.scss */
  .focuspoint_four .section_image {
    margin-top: -120px;
  }
}
@media screen and (min-width: 1250px) {
  /* line 379, ../sass/pages/_home.scss */
  .focuspoint_two .focuspoint_count {
    top: 40px;
    left: -170px;
    font-size: 12em;
  }
  /* line 384, ../sass/pages/_home.scss */
  .focuspoint_two h2 {
    font-size: 5.3rem;
  }

  /* line 389, ../sass/pages/_home.scss */
  .focuspoint_three .section_image {
    padding: 150px 30px 0 115px;
  }

  /* line 393, ../sass/pages/_home.scss */
  .focuspoint_four .focuspoint_count {
    top: -20px;
    left: -80px;
  }
}
